<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Table-AngularJS</title>
    <script src="../public/libs/angularjs/angular.js"></script>
</head>

<body>
<!--AngularJS 将checkbox的值绑定给 'mySwitch', button 根据 'mySwitch'来决定是否可用-->
<p>
    <button data-ng-disabled="mySwitch">Click ME!</button>
</p>
<p><input type="checkbox" data-ng-model="mySwitch"/>Button</p>


<p ng-show="true">I am visible.</p>

<p ng-show="false">I am not visible.</p>

<p ng-show="20 > 17">I am visible.</p>

<div data-ng-controller="myController">

    <button ng-click="count = count + 1">Click Me!</button>

    <p>{{ count }}</p>

</div>

<div data-ng-controller="personController">

    <button ng-click="toggle()">Toggle</button>

    <p ng-hide="myVar">
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}
    </p>

</div>
<script>

    var myApp = angular.module('myApp', []);
    myApp.controller('myController', function($scope) {
        $scope.count = 0;
    });

    myApp.controller('personController', function($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
        $scope.myVar = false;
        $scope.toggle = function () {
            $scope.myVar = !$scope.myVar;
        };
    });

</script>
</body>
</html>